@mixin search() {
  form {
    position: relative;
    top: 0;
    right: 0;
    flex-grow: 5;
    .input-group {
      border: 1px solid $color-third;
      border: none;

      input {
        font-weight: 300;
        border: transparent;
        &:focus {
          box-shadow: none;
        }
      }
      .fa {
        padding: 0.625rem;
        color: $color-primary;
        transition: 0.5s;
        background-color: $color-second;
        cursor: pointer;
        &:hover {
          color: white;
          background-color: $color-primary;
        }
      }
    }
  }
}
@mixin list-carousel() {
  .carousel-inner {
    .item-course {
      margin: 0.25rem;
      position: relative;
      top: 0;
      left: 0;
      box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
        0 3px 1px 0 rgba(20, 23, 28, 0.1);
      &:hover {
        box-shadow: 0 8px 8px 8px rgba(20, 23, 28, 0.1);
        z-index: 10;
        .img-course .hidden-content {
          visibility: visible;
        }
        cursor: pointer;
      }
      .img-course {
        position: relative;
        top: 0;
        left: 0;
        img {
          width: 100%;
        }
        .hidden-content {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #14171c;
          opacity: 0.5;
          visibility: hidden;
        }
      }
      .best-seller {
        position: absolute;
        top: 10%;
        left: 0;
        background-color: #f4c150;
        height: 1.2rem;
        border-radius: 0 2rem 2rem 0;
        font-size: 0.8rem;
        p {
          padding: 0 1rem;
          font-weight: 500;
        }
      }
      .content-text {
        padding: 1rem 0.8rem 0rem 1rem;
        h6 {
          display: -webkit-box !important;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 2.5rem;
        }
        p {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #686f7a;
        }
        .rating {
          display: flex;
          justify-content: left;
          align-items: center;
          .fa {
            color: #f4c150;
          }
          .rating-point {
            font-weight: 500;
          }
          span {
            margin-left: 0.4rem;
          }
          p {
            padding-top: 0.95rem;
            margin-left: 0.1rem;
          }
        }
        .price {
          padding-bottom: 1rem;
          .real-price {
            font-weight: 500;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
  .prev-button {
    color: #007791 !important;
    border: 1px solid;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: white;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    z-index: 10;
    position: absolute;
    top: 38%;
    left: -3%;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(20, 23, 28, 0.1);
    transition: 0.3s;
    .carousel-control-prev {
      position: absolute;
      top: 0;
      left: 0;
      width: 3rem;
      height: 3rem;
    }
    &:hover {
      color: #007791;
      box-shadow: 3px 3px 3px 3px rgba(20, 23, 28, 0.1);
    }
  }

  .next-button {
    color: #007791 !important;
    border: 1px solid;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: white;
    padding-left: 1.3rem;
    padding-top: 0.5rem;
    font-size: 2rem;
    z-index: 10;
    position: absolute;
    top: 38%;
    left: 97%;
    border: none;
    box-shadow: 1px 1px 1px 1px rgba(20, 23, 28, 0.1);
    transition: 0.3s;
    .carousel-control-next {
      position: absolute;
      top: 0;
      left: 0;
      width: 3rem;
      height: 3rem;
    }
    &:hover {
      color: #007791;
      box-shadow: 3px 3px 3px 3px rgba(20, 23, 28, 0.1);
    }
  }
}
