.most-view {
  .tittle {
    h2 {
      color: #505763;
    }
  }
  .list-course {
    position: relative;
    top: 0;
    left: 0;
    @include list-carousel();
    .col-lg-2 {
      max-width: 20% !important;
      flex: 0 0 20% !important;
      width: 20%;
      img {
        height: 8rem;
      }
      .item-course {
        height: 20rem;
        .content-text {
          padding: 0.5rem 0.4rem 0rem 0.5rem;
        }
      }
    }
    .next-button {
      left: 98%;
    }
  }
}
@media only screen and (max-width: 1400px) {
  .most-view {
    .list-course {
      .col-lg-2 {
        max-width: 25% !important;
        flex: 0 0 25% !important;
      }
      .col-lg-2:last-child {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 1140px) {
  .most-view {
    .list-course {
      .col-lg-2 {
        max-width: 33.33% !important;
        flex: 0 0 33.33% !important;
      }
      .col-lg-2:nth-child(4) {
        display: none;
      }
      .prev-button {
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .most-view {
    .list-course {
      .prev-button {
        left: -7%;
      }
    }
  }
}
@media only screen and (max-width: 678px) {
  .most-view {
    .list-course {
      .col-lg-2 {
        max-width: 50% !important;
        flex: 0 0 50% !important;
      }
      .prev-button {
        top: 47%;
      }
      .next-button {
        top: 47%;
      }
    }
  }
}
