.most-view {
  .tittle {
    h2 {
      color: #505763;
    }
  }
  .list-course {
    position: relative;
    top: 0;
    left: 0;
    @include list-carousel();
    .col-lg-2 {
      max-width: 20% !important;
      flex: 0 0 20% !important;
      width: 20%;
      img {
        height: 8rem;
      }
      .item-course {
        height: 20rem;
        .content-text {
          padding: 0.5rem 0.4rem 0rem 0.5rem;
        }
      }
    }
    .next-button {
      left: 98%;
    }
  }
}
